<h1> TinyApp </h1>
<body>
  <table>
    <tr>
      <td>
        <% if (!users) { %> 
          <label for="Login">
            <a href= "http://localhost:8080/login"> Login</a> or 
              <a href= "http://localhost:8080/register"> Register</a>
            </label>
        <% } else { %>
          <form class="form-inline" method ="POST" action ="/logout">
            <div class="form-group mb-2">
                Logged in as,<b><%= users.email %></b>
            <button type = "submit" style = "margin-left: 10px;"> Logout </button>
          </div>
          </form>
        <% } %>
      </td>
    </tr>
  </table>
</body>