<h1> TinyApp </h1>
<body>
  <table>
    <tr>
      <td>
        <% if (!users) { %> 
          <form method = "POST" action="/login">
            <input class="form-control" type="text" name="username" placeholder="Username" style="width: 300px;">
            <button type = "submit" > Login </button> 
          </form>
        <% } else { %>
          Logged in as, <%= users.email %>
          <form method = "POST" action = <%="/logout"%>>
            <button type = "submit" > Logout </button>
          </form>
        <% } %>
      </td>
    </tr>
  </table>
</body>