<h1> TinyApp </h1>
<body>
  <table>
    <tr>
      <td>
        <% if (!users) { %> 
          <label for="Login">
            <a href= "http://localhost:8080/login"> Login</a> or 
              <a href= "http://localhost:8080/register"> Register</a>
            </label>
        <% } else { %>
          Logged in as, <%= users.email %>
          <form-control class="inline" method = "POST" action = <%="/logout"%>>
            <button type = "submit" > Logout </button>
          </form>
        <% } %>
      </td>
    </tr>
  </table>
</body>