<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<header>
  <% include ./partials/_header %>
</header>
<body style="font-size:20px; padding:50px;">
  <a href= "http://localhost:8080/urls/new">Create New TinyURL</a>
  <table>
    <tr>
      <td><b>TinyURLS</b></td>
      <td>LongURLS </td>
    </tr>
    <% Object.keys(urls).forEach(function (shortURL) { %>
    <tr>
      <td> <b><%= shortURL %> </b> </td>
      <td><%= urls[shortURL] %></td>
      <td>
        <form method = "POST" action = <%=`/urls/${shortURL}/delete`%>>
        <button type = "submit" > Delete </button>
        </form>
      </td>
      <td>
        <form method = "POST" action = <%=`/urls/${shortURL}`%>>
          <button type = "submit" > Edit </button>
        </form>
      </td>
    </tr>
    <% }) %>
  </table>

</body>
</html>

